.shadow-logo {
  text-shadow: 2px 2px 4px white;
}

.shadow-black {
  text-shadow: 2px 2px 4px black;
}

.bg-container {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('./images/bones.jpg');
  background-size: cover;
}